<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Initial Build</title>
  </head>
  <body>
    <h2>Upload Question.</h2>
    <hr>
    <form  action="/admin/upload_que" method="post">
      Choose Class :
      <input type="number" name="class" value="" required>
      <hr>
      Enter subject :
      <input type="text" name="subject" value="" required>
      <hr>
      Choose chapter number :
      <input type="number" name="chapter_number" value="" required>
      <hr>
      Enter complete chapter Name :
      <input type="text" name="Chapter_name" value="" required>
      <hr>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
