<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edusaint Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Quiz</h1>
  </div>
   <br>
   <br>
    {% if i == 1 %}
    <form action="/admin/choose_quiz/subject" method="POST">
      <h3>Choose Class : </h3>
      <br>
        {% for class in Classes %}
        <input type="submit" name="Class" value="{{class}}" class="btn btn-primary" style = "margin-top: 15px; margin-left: 40px ">
        <br>
        {% endfor %}
        <br>
        <a href="/admin" class="btn btn-primary" style = "margin-left: 20px; margin-bottom : 3%; margin-top : 7%">Home</a>
    </form>

    {% elif i==2 %}
    <form action="/admin/choose_quiz/chapter" method="POST">
      <h3>Choose the subject : </h3>

        {% for i in Subjects %}
        <input type="submit" name="Subject" value="{{i}}" class="btn btn-primary" style = "margin-top: 15px; margin-left: 40px ">
        <br>
        {% endfor %}
        <br>
        <a href="/admin" class="btn btn-primary" style = "margin-left: 20px; margin-bottom : 3%;  margin-top : 7%">Home</a>
    </form>

    {% elif i==3 %}
    <form action="/admin/choose_quiz/quiz_number" method="POST">
      <h3>Choose the chapter : </h3>
        {% for i in Chapters %}
        <input type="submit" name="Chapter" value="{{i}}" class="btn btn-primary" style = "margin-top: 15px; margin-left: 40px ">
        <br>
        {% endfor %}
        <br>
        <a href="/admin" class="btn btn-primary" style = "margin-left: 20px; margin-bottom : 3%;  margin-top : 7%">Home</a>
    </form>
    {% elif i==4 %}
    <form action="/admin/delete/prompt" method="POST">
      <h3>Choose quiz number : </h3>
        {% for i in Num %}
        <input type="submit" name="Quiz_Number" value="{{i}}" class="btn btn-primary" style = "margin-top: 15px; margin-left: 40px ">
        <br>
        {% endfor %}
        <br>
        <a href="/admin" class="btn btn-primary" style = "margin-left: 20px; margin-bottom : 3%;  margin-top : 7%">Home</a>
    </form>
    {% elif i==5%}
      <h3>Class : {{Class}}</h3>
      {% if Subject != 0%}
        <h3>Subject : {{Subject}}</h3>
        {% if Chapter !=0 %}
          <h3>Chapter : {{Chapter}}</h3>
          {% if Num !=0 %}
            <h3>Quiz number : {{Num}}</h3>
          {% endif %}
        {% endif %}
      {% endif %}
      <h3>Delete this quiz directory?</h3>
      <form  action="/admin/delete/result" method="post">
        <input type="submit" name="confirmation" value="Yes">
        <input type="submit" name="confirmation" value="No">
      </form>
    {% endif %}
  </body>
</html>
