<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edusaint Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>
  <body>
    {% if op == 1 %}
    <form  action="/admin/choice" method="post">

      <input type="submit" name="option" value="Delete Quiz" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%;  margin-left: 35%; margin-top: 4%">
      <br>
      <input type="submit" name="option" value="Delete Question Database" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%; margin-left: 35%; margin-top: 4%">
      <br>
    </form>

    {% elif op == 2%}
    <h3>Delete Quiz </h3>
    <form  action="/admin/choice" method="post">
      <input type="submit" name="option" value="Delete by class" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%;  margin-left: 35%; margin-top: 4%">
      <br>
      <input type="submit" name="option" value="Delete by subject" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%; margin-left: 35%; margin-top: 4%">
      <br>
      <input type="submit" name="option" value="Delete by chapter" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%; margin-left: 35%; margin-top: 4%">
      <br>
      <input type="submit" name="option" value="Delete individually" class="btn btn-primary btn-lg" style = "font-size: 3vw; height : 5%; margin-left: 35%; margin-top: 4%; margin-bottom: 7%;">
      <br>
    </form>
    {% endif %}
  </body>
</html>
